img{max-width:100%}
body{font-family:Verdana;background:url(../images/back.jpg)0px 0 no-repeat;background-size:cover}
body,html{padding:0;margin:0;height:100%;overflow: hidden;}
.main{margin:0 auto;width:100%;height:100%}
.mask{width:100%;height:100%;background-color: rgba(0,0,0,0);position: absolute;top: 0;}
.header{width:100%;height:18%;position:relative}
.header-img{width:100%;height:10px;margin-top:5%;position:relative}
.logo{width:28%;height:auto;position:absolute;left:5%}
.huishou{width:60%;height:auto;position:absolute;bottom:5%;left:50%;transform:translate(-50%,0%)}
.language{width:22%;height:auto;position:absolute;right:5%}
.container{
width:100%;height:70%;position:relative
}
.bottle{width:35%;height:auto;position:absolute;top:10%;left:50%;transform:translate(-50%,0%)}
.thanks{width:200%;font-size: 8vw;position:absolute;left:-20%;color:#fff;}
.start{width:70%;height:auto;margin: 5% 15% 5% 15%}
.guide{text-align: center;}
.guide-img{width:90%;height:auto;margin: 0% 5% 0% 5%}
.login{text-align: center;}
.login-img{width:90%;height:73%;margin: 0 0 0 5%;position:absolute;top:7%;background-color:rgba(255,255,255,0.8)}
.machine-no{width:80%;height:auto;margin: 0 0 0 10%;position:absolute;bottom: 16%;}
.m-no{width: 70%;display: block;margin: 0 12% 0% 12%;padding: 1% 2% 1% 2% ;text-align: left;font-size: 4vw;border: .5vw solid #000;border-radius: 1.5vw;color: #000}
.m-no a{float: right; padding-right: 2%;}
.btn-list{
width:80%;height:68%;position:absolute;left:10%;top:5%;
}
/* .btn{width:100%;height:auto;margin: 5% 15% 5% 15%;margin: 5% 0 5% 0;} */
.login-title{width: 100%;display: block; padding: 3% 0 3% 0;margin: 6% 0 6% 0; text-align: center;color: black}
.title1{font-size: 8vw;}
.title2{font-size: 3vw;text-align: left;margin-top: 19%;}
.title3{font-size: 3vw;padding: 0;margin:0; }
.btn{width: 100%;display: block; padding: 3% 0 3% 0;margin: 6% 0 6% 0; text-align: center;font-size: 5vw;background-color: #24B38D;border-radius: 2vw;color: white}
.btn1{margin-top: 13%;}
.btn3{margin-top: 10%;background-color: #E74165;}
input{width: 100%;display: block; padding: 3% 0 3% 0;margin: 6% 0 6% 0; text-align: left;text-indent: 15%; 
  font-size: 5vw;background-color: #24B38D;outline:none;border-width: 0; border-radius: 2vw;color: white}
input:focus{background-color: rgb(24, 145, 113)} 
.tel{
background-image: url(../images/user.png) ;
background-repeat: no-repeat;
background-size: auto 60%;
background-position-x: 3%;
background-position-y: 50%;
}
.password{
background-image: url(../images/password.png) ;
background-repeat: no-repeat;
background-size: auto 60%;
background-position-x: 3%;
background-position-y: 50%;
margin-bottom: 3%;
}
::-webkit-input-placeholder { color: #fff;}

.user-tel{width:60%;height:auto;position:absolute;top:0%;margin-left:20%;padding-bottom: .5vw;  border-bottom:.5vw solid; color: #fff;font-size: 5vw;}

.status{width: 66%;height: 9vw;display: block;position: relative;margin: 10% 0 0 17%;}
.shape{width: 9vw;height: 9vw;float: left;font-size: 6vw;}
.cube{border-radius: 2vw;text-align: center;line-height: 9vw;position: relative;}
.line{margin: 4.6vw 0 0 0;height: 1.4vw;width: 16vw;}
.txt{position: absolute;bottom: -9vw;left: -2vw; font-size: 3vw;width: 13vw;font-weight: bold;}
.sp1{background-color: #E74165;}
.sp2{background-color: #FCC000;}
.sp3{background-color: #24B38D;}

.btn-start{padding: 5% 0 5% 0;font-size: 10vw;width: 70%;margin: 15% 0 0 15%;}
.btn-end{padding: 3% 0 3% 0;font-size: 6vw;width: 80%;margin: 5% 0 0 10%;background:#E41C43;border-radius: 3vw;}
.notice{width: 90%;margin: 12% 0 0 5%;}

.bottom{width: 66%;height: 9vw;display: block;position: absolute;margin: 0 0 0 17%; bottom: 7%;}
.btn-back{padding: 5% 0 5% 0;width: 70%;height: 65%; margin: 2% 0 0 15%;position: relative;}
.back1{background-color: #E74165;}
.back2{background-color: #FCC000;}
.back3{background-color: #24B38D;}
.img1{width: 90%;margin: 5% 0 0 5%;}
.img2{width: 70%;margin: 5% 0 0 15%;}
.img3{width: 32%;margin: 5% 0 0 34%;}
.img4{width: 40%;position: absolute;top: 25%;right: 20%;}
.recycle-back{width:90%;height:73%;margin: 0% 5% 0% 5%;position:absolute;top:7%;}
.tost{position: absolute;bottom: 10%; font-size: 4.5vw;font-weight: bold;text-align: center;width: 100%;}
.error{position: absolute;bottom: 10%; font-size: 8vw;font-weight: bold;text-align: center;width: 100%;}
.show-num{position: absolute;font-size: 6vw;font-weight: bold;top: 28%;text-align: center;width: 100%;color: #fff;}
.row{width: 100%;height: auto;border-bottom:.5vw solid; color: #000;float:left;padding: 5% 0 5% 0;}
.item{float: left; color:black;font-size: 4vw;font-weight: bolder;}
.count{width: 90%;height: auto;float: left; margin: 0 0 8% 5%;}
.item1{ width: 40%;text-align: center;}
.item2{ width: 30%;text-align: right;}
.item-line{width: 100%;height: 0;border: 1% solid black}
.btn-count{width: 90%;margin: 0 0 1% 5%;}
.of-notice{width: 90%;margin: 5% 0 4% 5%;font-size: 5vw;color: #E41C43;text-align: center;}
.position{width: 90%;height: 10%; margin: 0 0 4% 5%;position: absolute;bottom: 0;}
.there{position: absolute;bottom: 40%;left: 1%;font-size: 3vw;}
.over{position: absolute;bottom: 35%;left: 24%;font-size: 2vw;}
.willover{position: absolute;bottom: 35%;left: 36%;font-size: 2vw;}
.run{position: absolute;bottom: 35%;left: 50%;font-size: 2vw;}
.show-tost{position: absolute;bottom: 45%;left: 66%;font-size: 2.5vw;}
.alibottom{width: 80%;height: 9vw;display: block;position: absolute;margin: 0 0 0 10%; bottom: 7%;}
.map{width: 90%;height: 60%;margin: 0 0 4% 5%;}
.btn-pane{
  margin: 3% 0 0 0;
  width: 100%;
  height: 100%;
}

.btn-line{
  margin: 1% 2% 0% 2%;
  padding: 1% 0 1% 0;
  border-radius: 3vw;
  border: #4CAF50 1vw solid;
}

button{
  padding: 2% 0 2% 0;font-size: 3vw;width: 24%;background:#008CBA;border-radius: 1.5vw;color: #fff;
}
#rectangle{
	
	
	
 width: 200px;
    height: 200px;
  background: #FF9900;
	
}

.btn-gray{background:#aaa;}
#jianpan {
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  bottom: 0;
  right: 20%;
  z-index: 9999;
  width: 60%;
  height: 30%;
  display: none;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2%;
  border-color: grey;
  width: 100%;
  height: 100%;
}
.jianpan td {
  color: #333333;
  width: 10%;
  text-align: center;
  font-size: 4vw;
  border-top: .75vw solid #dcdddd;
  border-left: .75vw solid #dcdddd;
}

* {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}